<div class="container" style="background-image: url(https://www.definitivehc.com/wp-content/uploads/2014/12/footer-background-01-noise.png);">
    <h4>&copy; Jihan Amalia Irfani</h4>
</div>
<style>
    h4{
        text-align: center;
        color: white;
    }
</style>
