body{
    margin-top: 70px;
    background-color: #F4C2C2;
}
 /* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
 /* Textarea not resizeable */
textarea {
    resize:none
}

#lab8 {
    background-color: #F4C2C2;
}

.feed{
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 150px;
    background-color: white;
}