<div class="container" style="background-image: url(https://pbs.twimg.com/media/ChYHygNWYAEnp6u.jpg);">
    <h4>&copy; Jihan Amalia Irfani</h4>
</div>
<style>
    h4{
        text-align: center;
        color: white;
    }
</style>
